/* Main */
main {
    background-color: rebeccapurple;
}

#cartas {
    width: 100%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* cards */
.home_card {
    width: 23%;
}

.card-body {
    text-align: center;
}

.card-text {
    max-height: 70px;
    overflow: hidden; 
}

.see-more {
    color: blue;
    text-align: center;
    font-family: cursive;
    border: 0;
    background-color: white;
}

/* Tablet */
@media (min-width: 769px) {

    .logo {
        width: 16%;
    }

    .back-img  {
        width: 8%;
    }
}

/* Movil */
@media (max-width: 426px) {
    html {
        width: 135%;
    }

    .title {
        font-size: 3rem;
        padding: 2px 5px;
        text-shadow: 9px 9px black;
    }

    .search {
        border-radius: 20px;
        padding: 5px 4px;
    }
    

    #cartas {
        width: 100%;
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .home_card {
        width: 30%;
    }

    .back-img {
        width: 10%;
    }

    .container, .container-md, .container-sm {
        max-width: 850px;
    }
}

/* Movil medium */
@media (max-width: 376px) {

    .logo {
        display: none;
    }

    .back-img  {
        width: 15%;
    }

    .result {
        font-size: 24px;
    }

    #cartas {
        width: 100%;
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .home_card {
        width: 48%;
    }

    .footer-text {
        font-size: 20px;
    }
}

@media (max-width: 322px) {

    .search {
        padding: 5px 4px;
    }

    .result {
        font-size: 20px;
    }

    .footer-text {
        font-size: 18px;
    }
}