<footer class="footer">
    <div class="container">
      <span class="text-muted"><a class="footer-text" href="http://marvel.com">Data provided by Marvel. © 2024 MARVEL</a></span>
    </div>
</footer>