<header>
    <div class="header-container">
        <img class="logo" src="https://w7.pngwing.com/pngs/709/653/png-transparent-deadpool-logo-illustration-marvel-heroes-2016-deadpool-captain-america-logo-marvel-comics-icon-deadpool-angle-face-superhero.png" alt="">
        <h1 class="title"><a class="title-a" href="/">MARVEL</a></h1>
        <form action="/search" method="GET" class="header-form" id="form-search">
            <div class="search">
                <input type="text" name="keywords" id="search" placeholder="Buscar...">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <spam class="ms-2 fw-bold error-products" id="errores"></spam>
        </form>
    </div>
</header>